<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Page Title and .css file -->
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Top Left Navigation -->
    <h4 id="left">
        <li><a href="#" style="text-decoration:none">Help</a></li>
        <li><a href="#" style="text-decoration:none">|</a></li>
        <li><a href="#" style="text-decoration:none">Events</a></li>
    </h4>

    <!-- Top Right NavigationS -->
    <h4 id="right">
        <li><a href="{{ url_for('account', username=session['username']) if logged_in else url_for('login') }}" style="text-decoration:none">Account</a></li>
        <li><a href="#" style="text-decoration:none">|</a></li>
        <li><a href="{{ url_for('add_book') }}" style="text-decoration:none">Add Book</a></li>
        <li><a href="#" style="text-decoration:none">|</a></li>
        <li><a href="#" style="text-decoration:none">Wishlist</a></li>
    </h4><br>

    <!-- Code for page logo and title -->
    <a href="/" style="text-decoration:none"><h1> 
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Site Logo" id="Logo"> 
        The Book Nook 
    </a></h1>

    <!-- Main Navigation Bar -->
		<div>
    <h3>
        <li><a href="" style="text-decoration:none">|</a></li>
        <li><a href="/" style="text-decoration:none">Home</a></li>
        <li><a href="" style="text-decoration:none">|</a></li>
        {% if session.get('logged_in') %}
        <li><a href="{{ url_for('account', username=session['username']) }}" style="text-decoration:none">Account</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}" style="text-decoration:none">Account</a></li>
        {% endif %}
        <li><a href="" style="text-decoration:none" >|</a></li>
        <li><a href="{{ url_for('books') }}" style="text-decoration:none">Books</a></li>
        <li><a href="" style="text-decoration:none" >|</a></li>
        
        <!-- Search Bar with Button -->
        <form method="GET" action="{{ url_for('search') }}" id="nav">
            <input type="text" id="Search" name="q" placeholder="Search Books & Accounts">
            <button type="submit" id="SrchBtn">Search</button>
        </form>

        <li><a href="" style="text-decoration:none">|</a></li>
    </h3>
</div>
</head>

<!-- Main body code -->
<body>
<div style="" id="addbookdiv1">
    <div style="" id="addbookdiv2">
	
	<!-- Code for the 'Add Book' form -->
    <h2>Add Book</h2>
    <form name="add_book" action="{{ url_for('add_book') }}" method="post" enctype="multipart/form-data" style="" id="addbook">
        <label class="" for="bookcover" style="margin-bottom: 5px;">Book Cover:</label><br>
        <input class="form1" type="file" name="bookcover" required><br>

        <label class="" for="title" style="margin-bottom: 5px;">Title:</label><br>
        <input class="form1" type="text" id="title" name="title" required><br>

        <label class="" for="author" style="margin-bottom: 5px;">Author:</label><br>
        <input class="form1" type="text" id="author" name="author" required><br>

        <label class="" for="illustrator" style="margin-bottom: 5px;">Illustrator(if applicable):</label><br>
        <input class="form1" type="text" id="illustrator" name="illustrator" ><br>

        <label class="" for="genre" style="margin-bottom: 5px;">Genre:</label><br>
        <input class="form1" type="text" id="genre" name="genre" required><br>

        <label class="" for="release" style="margin-bottom: 5px;">Release:</label><br>
        <input class="form1" type="date" id="release" name="release" required><br>

        <label class="" for="descrip" style="margin-bottom: 5px;">Description:</label><br>
        <input class="form1" type="text" id="descrip" name="descrip" required minlength="10" maxlength="1000000"><br>

        <button class="form1" type="submit" class="btn" name="button" value="signup">
            Add Book
        </button>
    </form>
	</div>
	</div>
</body>

<!-- Footer -->
<footer>
    <div id="footer">
        <p>© 2024 The Book Nook. All rights reserved. Created by Dan Ferguson</p>
    </div>
</footer>
</html>
