<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <!-- Top Navigation Links -->
    <h4 id="left">
        <li><a href="" style="text-decoration:none">Help</a></li>
        <li><a href="" style="text-decoration:none">|</a></li>
        <li><a href="" style="text-decoration:none">Events</a></li>
    </h4>

    <h4 id="right">
        {% if session.get('logged_in') %}
		<li><a href="{{ url_for('account', username=session['username']) }}" style="text-decoration:none">Account</a></li>
		{% else %}
		<li><a href="{{ url_for('login') }}" style="text-decoration:none">Account</a></li>
		{% endif %}
        <li><a href="" style="text-decoration:none">|</a></li>
        <li><a href="{{ url_for('add_book') }}" style="text-decoration:none">Add Book</a></li>
        <li><a href="" style="text-decoration:none">|</a></li>
        <li><a href="" style="text-decoration:none">Wishlist</a></li>
    </h4><br>

    <h1>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Site Logo" id="Logo">
        The Book Nook
    </h1>

    <! -- Code for the pages navigation bar -->
		<div>
    <h3>
        <li><a href="" style="text-decoration:none">|</a></li>
        <li><a href="/" style="text-decoration:none">Home</a></li>
        <li><a href="" style="text-decoration:none">|</a></li>
        {% if session.get('logged_in') %}
        <li><a href="{{ url_for('account', username=session['username']) }}" style="text-decoration:none">Account</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}" style="text-decoration:none">Account</a></li>
        {% endif %}
        <li><a href="" style="text-decoration:none" >|</a></li>
        <li><a href="{{ url_for('books') }}" style="text-decoration:none">Books</a></li>
        <li><a href="" style="text-decoration:none" >|</a></li>
        
        <!-- Search Bar with Button -->
        <form method="GET" action="{{ url_for('search') }}" id="nav">
            <input type="text" id="Search" name="q" placeholder="Search Books & Accounts">
            <button type="submit" id="SrchBtn">Search</button>
        </form>

        <li><a href="" style="text-decoration:none">|</a></li>
    </h3>
</div>
</head>

<body>
    <h1>Books</h1>

    <!-- Display books -->
    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        {% for book in books %}
        <div style="border: 1px solid #ccc; padding: 10px; width: 200px; text-align: center;">
            <a href="{{ url_for('book', title=book['title']) }}"> <img src="{{ url_for('static', filename=book['book_cover']) }}" alt="{{ book['title'] }}" style="width: 150px; height: 200px;"> </a>
            <h3>{{ book['title'] }}</h3>
        </div>
        {% endfor %}
		
    </div>

</body>

<footer>
    <div id="footer"></div>
</footer>
</html>