<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Page title and .css file link -->
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		
		<!-- Top Left Navigation Bar -->
		<h4 id="left">
		<li><a href="" style="text-decoration:none">Help</a></li>
		<li><a href="" style="text-decoration:none">|</a></li>
		<li><a href="" style="text-decoration:none">Events</a></li>
		</h4>
		
		<!-- Top Right Navigation Bar -->
		<h4 id="right">
		<li><a href="{{ url_for('account', username=session['username']) if logged_in else url_for('login') }}" style="text-decoration:none">Account</a></li>
		<li><a href="" style="text-decoration:none">|</a></li>
		<li><a href="{{ url_for('add_book') }}" style="text-decoration:none">Add Book</a></li>
		<li><a href="" style="text-decoration:none">|</a></li>
		<li><a href="" style="text-decoration:none">Wishlist</a></li>
		</h4><br>
	
		<!-- Page logo and title -->
		<a href="/" style="text-decoration:none"><h1>
		<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Site Logo" id="Logo"> The Book Nook 
		</a></h1>
		
		<!-- Main Navigation Bar -->
		<div>
    <h3>
        <li><a href="" style="text-decoration:none">|</a></li>
        <li><a href="/" style="text-decoration:none">Home</a></li>
        <li><a href="" style="text-decoration:none">|</a></li>
        {% if session.get('logged_in') %}
        <li><a href="{{ url_for('account', username=session['username']) }}" style="text-decoration:none">Account</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}" style="text-decoration:none">Account</a></li>
        {% endif %}
        <li><a href="" style="text-decoration:none" >|</a></li>
        <li><a href="{{ url_for('books') }}" style="text-decoration:none">Books</a></li>
        <li><a href="" style="text-decoration:none" >|</a></li>
        
        <!-- Search Bar with Button -->
        <form method="GET" action="{{ url_for('search') }}" id="nav">
            <input type="text" id="Search" name="q" placeholder="Search Books & Accounts">
            <button type="submit" id="SrchBtn">Search</button>
        </form>

        <li><a href="" style="text-decoration:none">|</a></li>
    </h3>
</div>
	</head>
	
	<!-- Main body code, front page code -->
	<body>
    <div id="body">
		<!-- Image links for home page design -->
        <img src="{{ url_for('static', filename='images/leftBooks.png') }}" alt="Left Books" id="Left-Books">
        <img src="{{ url_for('static', filename='images/fireplace.gif') }}" alt="Fireplace">
        <img src="{{ url_for('static', filename='images/rightBooks.png') }}" alt="Right Books" id="Right-Books">
    </div>

	<!-- Display the last 3 Recent Reviews -->
	<!-- Links to recent reviews to receive the last 3 inputs to the database -->
    <div class="row">
        <div class="column" style="height: 100vh;">
            <h2><u>Recent Reviews:</h2>
            {% for review in recent_reviews %}
    <div class="review" style="" id="homereviews">
        <h4>{{ review['title'] }}</h3><br>
        <p>Rating: {{ review['rating'] }} Stars</p>
        <p>{{ review['review'] }}</p>
    </div>
	<!-- Alt Message -->
{% else %}
    <p>No recent reviews available.</p>
{% endfor %}
        </div>

	<!-- Display the last 3 Books added -->
	<!-- Links to the book route to receive the last 3 books in the database -->
	<div class="column" style="height: 100vh;">
    <h2><u>Recent Books:</h2>
    {% for book in recent_books %}
    <a href="{{ url_for('book', title=book['title']) }}" style="decoration:none"> <div class="book" id="homebooktitle" style="">
        <!-- Book cover -->
        <img src="{{ url_for('static', filename=book['book_cover']) }}" alt="{{ book['title'] }}" style="" id="homebookcover">
		<!-- Book title -->
        <h4 style="margin: 0;">{{ book['title'] }}</h4>
    </div> </a>
	<!-- Alt Message -->
    {% else %}
    <p>No recent books available.</p>
    {% endfor %}
</div>
    </div>
</body>

<!-- Footer -->
<footer>
    <div id="footer">
       <p>© 2024 The Book Nook. All rights reserved. Created by Dan Ferguson</p> 
    </div>
</footer>
</html>