<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    <!-- Link to the CSS file using Flask's url_for function -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
		
		<! -- Hyperlink to extra pages that'll be displayed top left page -->
		<h4 id="left">
		<li><a href="" style="text-decoration:none">Help</a></li>
		<li><a href="" style="text-decoration:none">|</a></li>
		<li><a href="" style="text-decoration:none">Events</a></li>
		</h4>
		
		<! -- Hyperlink to extra pages that'll be displayed top left page -->
		<h4 id="right">
		<li><a href="/login" style="text-decoration:none">Account</a></li>
		<li><a href="" style="text-decoration:none">|</a></li>
		<li><a href="" style="text-decoration:none">Add Book</a></li>
		<li><a href="" style="text-decoration:none">|</a></li>
		<li><a href="" style="text-decoration:none">Wishlist</a></li>
		</h4><br>
	
		<! -- Code for page logo and title -->
		<h1> <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Site Logo" id="Logo"> The Book Nook </h1>
		
		<! -- Code for the pages navigation bar -->
		<div>
		<h3>
		<li><a href="" style="text-decoration:none">|</a></li>
		<li><a href="/" style="text-decoration:none">Home</a></li>
		<li><a href="" style="text-decoration:none">|</a></li>
		<li><a href="/login" style="text-decoration:none">Account</a></li>
		<li><a href="" style="text-decoration:none">|</a></li>
		<li><a href="books.html" style="text-decoration:none">Books</a></li>
		<li><a href="" style="text-decoration:none">|</a></li>
		<li> <input type="text" id="Search" placeholder="Search Books & Accounts" ></li>
		<li><a href="" style="text-decoration:none">|</a></li>
		</h3>
		</div>
	</head>
	
	<! -- source and names for front page images -->
	<body>
	<h2> Login </h2>
	<form name="login_form" action="{{ url_for('login') }}" method="post">
	
	<label class="form1text" for="uname">Username:</label><br>
	<input class="form1" type="text" id="uname" name="uname"><br>
	
	<label class="form1text" for="pass">Password:</label><br>
	<input class="form1" type="text" id="pass" name="pass"><br>
	
	<button class="form1" type="submit" class="btn" name="button" value="login">
		Login
	</button>
	<p class="form1"> Don't have an account? <a href="/signup"> Sign up </a></p>
	
	{% if message %}
		<p style="color:red";>{{ message }}</p>
		{% endif %}
	</form>
	</body>
	
	<footer>
	<div id="footer">
	  <p>© 2024 The Book Nook. All rights reserved.</p>
	</div>
	</footer>
</html>