<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Page title and link to .css file -->
    <meta charset="UTF-8">
    <title>Upcoming Reads</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Top Left Navigation -->
    <h4 id="left">
        <li><a href="#" style="text-decoration:none">Help</a></li>
        <li><a href="#" style="text-decoration:none">|</a></li>
        <li><a href="#" style="text-decoration:none">Events</a></li>
    </h4>

    <!-- Top Right Navigation -->
    <h4 id="right">
        <li><a href="{{ url_for('account', username=session['username']) if logged_in else url_for('login') }}" style="text-decoration:none">Account</a></li>
        <li><a href="#" style="text-decoration:none">|</a></li>
        <li><a href="{{ url_for('add_book') }}" style="text-decoration:none">Add Book</a></li>
        <li><a href="#" style="text-decoration:none">|</a></li>
        <li><a href="#" style="text-decoration:none">Wishlist</a></li>
    </h4><br>

    <!-- Code for page logo and title -->
    <a href="/" style="text-decoration:none"><h1> 
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Site Logo" id="Logo"> 
        The Book Nook 
    </a></h1>

    <!-- Navigation -->
		<div>
    <h3>
        <li><a href="" style="text-decoration:none">|</a></li>
        <li><a href="/" style="text-decoration:none">Home</a></li>
        <li><a href="" style="text-decoration:none">|</a></li>
        {% if session.get('logged_in') %}
        <li><a href="{{ url_for('account', username=session['username']) }}" style="text-decoration:none">Account</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}" style="text-decoration:none">Account</a></li>
        {% endif %}
        <li><a href="" style="text-decoration:none" >|</a></li>
        <li><a href="{{ url_for('books') }}" style="text-decoration:none">Books</a></li>
        <li><a href="" style="text-decoration:none" >|</a></li>
        
        <!-- Search Bar with Button -->
        <form method="GET" action="{{ url_for('search') }}" id="nav">
            <input type="text" id="Search" name="q" placeholder="Search Books & Accounts">
            <button type="submit" id="SrchBtn">Search</button>
        </form>

        <li><a href="" style="text-decoration:none">|</a></li>
    </h3>
</div>
</head>

<!-- Body -->
<body>
<div style="" id="updiv1">
    <!-- Upcoming Reads Form -->
    <h1 style="" id="uptitle">Add a Book to Your Upcoming Reads</h1>

  
    <div style="" id="updiv2">
        <div style="" id="updiv3">
          
            <form method="POST" action="{{ url_for('upcoming_reads') }}" style="" id="upform"> 
                <label for="title" style="margin-bottom: 10px; font-weight: bold;">Book Title:</label>
                <input type="text" id="uptext" name="title" required>
                <button type="submit" style="" id="upbtn">Add</button>
            </form>

            <!-- Error Message -->
            {% if message %}
                <p style="margin-top: 20px; color: green;">{{ message }}</p>
            {% endif %}
        </div>
    </div>
	</div>
</body>

<!-- Footer -->
<footer>
    <div id="footer">
        <p>© 2024 The Book Nook. All rights reserved. Created by Dan Ferguson</p>
    </div>
</footer>
</html>
